*{
    margin: 0;
    padding: 0;

}
body{
    background-image: url('../img/backgroundGreen.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.wrapper{
    width: 400px;
    background-color: rgb(0, 0, 0,0.5);
    backdrop-filter: blur(5px); /* مقدار الضبابية */

    padding: 15px;
    border-radius: 15px;
    border: 2px solid black;

}
h2{
    color: white;
    font-family: 'Roboto';

}
.img{
    width: 150px;
    height: 150px;
    border: 2px dashed green;
    border-radius: 50%;
    padding: 1px;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;

}
.row{
    padding: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
ol{
    font-family: 'Roboto';
    font-size: 15px;
    list-style-type: circle;
    color: white;


}
li{
    margin-bottom: 10px;
}
.column{
    padding-top: 15px;
}
.icons{
    margin-top: 25px;

}
i{
    color: white;
    padding: 4px;
    border: 1.2px solid white;
    border-radius: 50px;
    margin-left: 5px;
}
button{
    width: 120px;
    height: 30px;
    margin-top: 25px;
    border-radius: 15px;
    border: none;
    background-color: rgb(255, 255, 255,0.7);
    font-family: 'Roboto';
    font-size: 12px;
}
.made{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    color: white;
    font-size: 12px;

}