:root{
    --main-color:#0481ff;
}



*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}
body{
    background-color: #001;
    display: flex;
    flex-direction: row;
    height: 100%;
}
.menu{
    padding: 20px;
    background-color: #123;
    width: 60px;
    height: 100vh;
    overflow: hidden;
    transition: 0.5s;


}
.menu:hover{
    width: 260px;
}
.menu .protofile{
    display: flex;
    align-items: center;
    gap: 30px;
}
.protofile .img-box{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
    overflow: hidden;
    border: 3px solid white;
    margin-bottom: 10px;
    flex-shrink: 0;


}
.protofile .img-box img{
    width: 100%;
}
.menu ul{
    list-style: none;
    position: relative;
    height: 95%;
}

.menu li a{
    display: block;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 40px;
    transition: 0.5s;
    
}
.menu li a:hover,.active ,.contant .data-info .card:hover,.contant table th:hover{
    background-color: #ffffff55;
}
.menu .log-out{
    position: absolute;
    bottom: 0;
    width: 100%;

}
.menu .log-out a{
    background-color: red;


}
.menu li i{
    font-size: 30px;

}
.contant {
    width: 100%;
    padding: 10px;
}
.contant .title-info{
    background-color: var(--main-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    margin: 10px 0;
}
.contant .data-info{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    
}
.contant .data-info .card{
    background-color: #123;
    height: 150px;
    flex-basis: 150px;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.contant .data-info .card i{
    font-size: 40px;
}
.contant .data-info .card .data{
    font-size: 30px;
    text-align: center;
}
.contant table{
    width: 100%;
    border-spacing: 10px;
}
.contant table th{
    background-color: #123;
    padding: 10px;
    border-radius: 8px;
}
.contant table thead th{
    background-color: var(--main-color);

}
.contant table .price{
    background-color: green;
    padding: 7px 7px;
    border-radius: 8px;
}
.contant table .count{
    background-color: gold;
    padding: 7px 7px;
    border-radius: 8px;
    color: black;

}