:root{
    --main-color:#fc036b;
}
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
}
/* Start Header Section */
header{
    height: 100vh;
    width: 100%;
    background-image: url('../img/header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 
.nvbar{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px 30px 30px;
    align-items: center;
}
.nvbar h2{
    color: white;
}
.nvbar .menu{
    display: flex;
    align-items: center;
}
.nvbar .menu li{
    margin-left: 50px;
    list-style-type: none;
}
.nvbar .menu a{
    text-decoration: none;
    color: white;
}
.nvbar .menu .contact a{
    background-color: var(--main-color);
    border-radius: 20px;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 20px;
   padding-right: 20px;
    text-align: center;
}
.nvbar .menu a:hover{
color: var(--main-color);
}
.nvbar .menu .contact a:hover{
    background-color: white;
    color: var(--main-color);
}
.contant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 200px;
}
.contant p{
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.contant hr{
    width: 100px;
    margin-top: 7px;
    margin-bottom: 20px;
    border: 2px solid var(--main-color);
}
.contant h2{
    color: white;
    font-size: 45px;
    margin-bottom: 10px;
}
.contant button{
    background-color: var(--main-color);
    width: 100px;
    height: 35px;
    margin-top: 15px;
    border-radius: 20px;
    color: white;
}
.contant button:hover{
    background-color: white;
    color: var(--main-color);
}
/* End Header Section */

/* Start upcoming events section */

.upcoming-event-section{
    height: 100vh;
    width: 100%;
    

}
.upcoming-event-section .title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 55px;

    
}
.upcoming-event-section h2{
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(108, 31, 180);
}
.upcoming-event-section hr{
    border: 2px solid var(--main-color);
    width: 100px;
}
.upcoming-event-section .cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 130px;
    margin-top: 40px;

}
.cards .card{
    margin-right: 50px;
}
.cards .card img{
    width: 100%;
}
.upcoming-event-section .cards .card h3{
    text-align: center;
    color: rgb(108, 31, 180); 
    margin-bottom: 15px;
}
.cards .card p{
    margin-bottom: 20px;
    color: gray;
    font-size: 13px;
}
.cards .card .button{
    text-align: center;
}
.cards .card button{
    background-color: var(--main-color);
    width: 100px;
    height: 35px;
    margin-top: 15px;
    border-radius: 20px;
    color: white;
    border: none;
}
.cards .card button:hover{
    background-color: white;
    color: var(--main-color);
}
/* End upcoming events section */

/* Start Explore Section */
.explore-section{
    width: 100%;
    height: 100vh;
    background-image: url('../img/bg2.png');
    background-position: center;
    background-size: cover;
}
.explore-section .title{
    position: relative;
    top: 200px;
    left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.explore-section .title h2{
    color: white;
    font-size: 50px;
}
.explore-section .title hr{
    border: 2px solid var(--main-color);
    width: 100px;
    margin-top: 7px;
}
.explore-section .title p{
    margin-top: 35px;
    color: white;
    font-size: 13px;
}
.explore-section .title button{
    background-color: var(--main-color);
    width: 100px;
    height: 35px;
    margin-top: 15px;
    border-radius: 20px;
    color: white;
    border: none;
}
.explore-section .title button:hover{
    background-color: white;
    color: var(--main-color);
}


/* End Explore Section */


/* Start Upcoming Tours Section */

.upcoming-tours-section{
    padding-top:50px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.upcoming-tours-section .picture{
    display: flex;
    flex-direction: column;
    margin-right: 100px;

} 
.upcoming-tours-section .picture .group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}
.upcoming-tours-section .picture img{
    margin-left:15px ;
}
.upcoming-tours-section .text{
    margin-left: 200px;
    position: relative;
    top: -90px;
}
.upcoming-tours-section .text h1{
    color: #484872;
    width: 50%;
    font-size: 50px;

}
.upcoming-tours-section .text hr{
    border: 2px solid var(--main-color);
    width: 150px;
    margin-top: 10px;
}
.upcoming-tours-section .text p{
    margin-top: 30px;
    font-size: 14px;
    color: gray;
}
.upcoming-tours-section .text .btn{
    margin-top: 50px;
    text-align: center;
}
.upcoming-tours-section .text button{
    background-color: var(--main-color);
    width: 100px;
    height: 35px;
   
    border-radius: 20px;
    color: white;
    border: none;
}
.upcoming-tours-section .text button:hover{
    background-color: white;
    color: var(--main-color);
}

/* End Upcoming Tours Section */

/* Start Footer Section */
.footer{
    background-color:  #484872;
    padding: 50px;
    margin-top: 50px;
    color: white;
    font-size: 12px;
    text-align: center;
}


/* End Footer Section */

